{% extends 'base.html' %}
{% block title %}Booking | Car Rental Website{% endblock title %}
{% block body %}
<div class="container jumbotron py-5">
{% if messages %}
        	{% for message in messages %}	
				{% if message.tags == 'info' %}
					<div class="alert alert-warning alert-dismissible fade show" role="alert">
						{{message}}
						<a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
					</div>
				{% elif message.tags == 'success' %}
					<div class="alert alert-success alert-dismissible fade show" role="alert">
						<a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
                        {{message}}
						</div>
				{% elif message.tags == 'error' %}
					<div class="alert alert-danger alert-dismissable fade show" role="alert">
						<a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
						{{message}}
					</div>
				{% endif %}
			{% endfor %}
		{% endif %}
    <form action="" method="POST">
        {% csrf_token %}
        <h1>Booking Summary</h1>
        <div class="col-sm-6">
        Booking Id : <strong> {{bookingId}} </strong> <br>
        Car : <strong> {{ modelName }} </strong><br>
        Price/day : <strong>₹ {{price}}</strong><br>
        Pickup Date : <strong>{{ s_date }}</strong><br>
        Drop Date : <strong>{{ e_date }}</strong><br>
        Number of days : <strong>{{days}}</strong><br>
        Gross Amount : <strong>{{ grossamt }}</strong><br>
        Security Deposit : <strong>₹ 2499</strong><br>
        Total Payable Amount : <strong>₹ {{ totalamt }}</strong><br><br>
        <input type="submit" class="primary" value="Checkout">
        </div>
    </form>
</div>
{% endblock body %}

