{% extends 'base.html' %}

{% block title %}Home{% endblock title %}

{% block body %}

<!-- Main -->
					<div id="main">
						<div class="inner">
							<h1>FAQ</h1>

							<div class="image main">
								<img src="static/images/banner-image-4-1920x500.jpg" class="img-fluid" alt="" />
							</div>

							<h3 class="m-n"><i class="fa fa-question-circle"></i> How old do I need to be to rent a Car from Avis?</h2>
							<p>You can rent an Avis Self Drive car if you are 18 years or above.</p>

							<h3 class="m-n"><i class="fa fa-question-circle"></i>  How can I reserve a car?</h2>
							<p>With Avis Flex, allows you to get a price benefit when you book for 7 days and above on select car models. Rentals start for as low as Rs 1250/day.</p>
							
							<h3 class="m-n"><i class="fa fa-question-circle"></i> Do I need to pick up the car from Avis rental office?</h2>
							<p>All the cars are delivered and collected free of cost to the address specified at the time of making a booking. Note; cars will not be delivered to any public places like malls, metro station, etc.</p>
							<p>Avis holds the right to cancel the booking in such case.</p>

							<h3 class="m-n"><i class="fa fa-question-circle"></i> I need to drop off the car at a different location, can I do that? ?</h2>
							<p>No. The car will be collected by our driver from the place to where it was delivered.</p>

							<h3 class="m-n"><i class="fa fa-question-circle"></i> What is the fuel policy ?</h2>
							<p> <p>
                                            As per the Avis fuel policy:
                                            <ul class="bullet-faq">
                                                <li>
                                                    <p>The car will be delivered with a full tank and need to be returned in the same manner.</p>
                                                </li>
                                                <li>
                                                    <p>Customer pays for the fuel charges based on the usage.</p>
                                                </li>
                                                <li>
                                                    <p>If the car is returned with less than full tank fuel, Avis will charge for the differential fuel.</p>
                                                </li>
                                                <li>
                                                    <p>The customer can either pay this directly by cash/card at the time of car pick up by Avis driver or the same will be deducted from the security deposit.</p>
                                                </li>
                                                <li>
                                                    <p>The assessment made by the Avis driver on the differential fuel amount will be final.</p>
                                                </li>
                                            </ul>
                                        </p></p>

							<h3 class="m-n"><i class="fa fa-question-circle"></i> What if I return the car late ?</h2>
							<p>Guest needs to inform Avis in advance for rental extension. An extension or grace period of up to 1 hours is permissible if informed with no extra charges. If the extension exceeds 1 hours, following charges will be applicable for every hour including the 1-hour grace period.</p>
							<p>To avoid paying any extension fee we request our guest to extend the booking through the Avis India website or mobile app.</p>
						</div>
					</div>

{% endblock body %}