{% extends 'base.html' %}

{% block title %}Home{% endblock title %}

{% block body %}

<!-- Main -->
					<div id="main">
						<div class="inner">
							<h1>Fleet</h1>

							<div class="image main">
								<img src="static/images/banner-image-7-1920x500.jpg" class="img-fluid" alt="" />
							</div>

							<!-- Fleet -->
							<section class="tiles">
							{% for car in cars %}
								<article class="style1">
									<span class="image">
										<img src="/{{BASIC_DIR}}{{ car.carImg }}" alt="" />
									</span>
									<a href="#footer" class="scrolly">
										<h2>{{ car.carType }}</h2>
										
										<p>price from: <strong> ₹ {{ car.price }}</strong>/day</p>

										
									</a>
								</article>
							{% endfor %}
							</section>
						</div>
					</div>

{% endblock body %}