{% extends 'base.html' %}

{% block title %}Home{% endblock title %}

{% block body %}

<!-- Main -->
					<div id="main">
						<div class="inner">
							<h1>Fleet</h1>

							<div class="image main">
								<img src="static/images/banner-image-7-1920x500.jpg" class="img-fluid" alt="" />
							</div>

							<!-- Fleet -->
							<section class="tiles">
							{% for car in cars %}
								<article class="style4">
									<span class="image">
										<img src="/image/{{ car.modelImg }}" alt="" />
									</span>
									<a href="{% url 'book' %}">
										<h2>{{ car.modelName }}</h2>  {{ car.modelYear }}
										<p><strong>{{ car.modelType }}</strong></p>
										<p>price : <strong> ₹ {{ car.price }}</strong> per day</p>

										{% comment %} <p>
											<i class="fa fa-user"></i> 5 &nbsp;&nbsp;
											<i class="fa fa-briefcase"></i> 4 &nbsp;&nbsp;
											<i class="fa fa-sign-out"></i> 4 &nbsp;&nbsp;
											<i class="fa fa-cog"></i> A
										</p> {% endcomment %}
									</a>
								</article>
								{% endfor %}
							</section>
						</div>
					</div>

{% endblock body %}