{% extends 'base.html' %}
{% block title %}User Profile | Car Rental Website{% endblock %}
{% block body %}
    <div class="container jumbotron py-5">
        <div class="conatainer">
            <form method='POST'>
                <h1>Testimonial</h1>
                {% if messages %}
        					{% for message in messages %}
								{% if message.tags == 'info' %}
									<div class="alert alert-warning alert-dismissible fade show" role="alert">
										{{message}}
										<a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
									</div>
								{% elif message.tags == 'success' %}
									<div class="alert alert-success alert-dismissible fade show" role="alert">
										<a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
							  			{{message}}
									</div>
								{% elif message.tags == 'error' %}
									<div class="alert alert-danger alert-dismissable fade show" role="alert">
                  <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
  										{{message}}
									</div>
								{% endif %}
							{% endfor %}
		  				{% endif %}
      
                {%csrf_token%}
                {% load crispy_forms_tags %}
                {{form|crispy}}
            <button type='submit'>Save</button>
        </form>
        </div>
    </div>
{% endblock %}