{% extends 'base.html' %}
{% block title %}Login | Car Rental{% endblock title %}
{% block body %}
<div class="container jumbotron py-5">
    <form method="POST">
    {% if user.is_authenticated %}
      <h2>You are already logged in as {{ user.username }}.</h2>
      <p class="text-left"><a href="{% url 'index' %}">Click here</a> to go to homepage..</p>
    {% else %}
      {% csrf_token %}
      {% load crispy_forms_tags %}
      {% if messages %}
        {% for message in messages %}
  			<ul class="messages" style="padding:20px;list-style-type:none;color: #ffffff;background-color: {% if message.tags == 'error' %}#f56342{% elif message.tags == 'success' %}#3dd94f{% endif %};">
    			<li>{{ message }}</li>
	      {% endfor %}
			  </ul>
		  {% endif %}
      {{ login_form|crispy }}
      <p class="text-left"><a href="{% url 'password_reset' %}">Forgot password?</a>.</p>
      <button class="primary" type="submit">Login</button>
    </form>
    <p class="text-center">Don't have an account? <a href="{% url 'register' %}">Create an account</a>.</p>
    {% endif %}
  </div>
{% endblock body %}