{% extends 'base.html' %}
{% block title %}Login | Car Rental{% endblock title %}
{% block body %}
<div class="container jumbotron py-5">
    <form method="POST">
    {% if user.is_authenticated %}
      <h2>You are already logged in as {{ user.username }}.</h2>
      <p class="text-left"><a href="{% url 'index' %}">Click here</a> to go to homepage..</p>
    {% else %}
      {% csrf_token %}
      {% load crispy_forms_tags %}
      {% if messages %}
        					{% for message in messages %}
								{% if message.tags == 'info' %}
									<div class="alert alert-warning alert-dismissible fade show" role="alert">
										{{message}}
										<a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
									</div>
								{% elif message.tags == 'success' %}
									<div class="alert alert-success alert-dismissible fade show" role="alert">
										<a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
							  			{{message}}
									</div>
								{% elif message.tags == 'error' %}
									<div class="alert alert-danger alert-dismissable fade show" role="alert">
                  <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
  										{{message}}
									</div>
								{% endif %}
							{% endfor %}
		  				{% endif %}
      {{ login_form|crispy }}
      <p class="text-left"><a href="{% url 'password_reset' %}">Forgot password?</a>.</p>
      <button class="primary" type="submit">Login</button>
    </form>
    <p class="text-center">Don't have an account? <a href="{% url 'register' %}">Create an account</a>.</p>
    {% endif %}
  </div>
{% endblock body %}