{% extends 'base.html' %}
{% block title %}Signup | Car Rental Website {% endblock title %}
{% block body %}
<!--Register--> 
<div class="jumbotron container py-5">
		{% if messages %}
			{% for message in messages %}
			<ul class="messages" style="padding:20px;list-style-type:none;color: #ffffff;background-color: {% if message.tags == 'error' %}#f56342{% else %}#3dd94f{% endif %};">
    			<li>{{ message }}</li>
	    	{% endfor %}
			</ul>
		{% endif %}
	<h1>Register</h1>
	<form method="POST">
		{% csrf_token %}
		{% load crispy_forms_tags %}
		{{ register_form|crispy }}                    
		<button class="primary" type="submit">Register</button>
	</form>
	<p class="text-center">If you already have an account, <a href="{% url 'login' %}">login</a> instead.</p>
</div>
{% endblock body %}