{% extends 'base.html' %}
{% block title %}Signup | Car Rental Website {% endblock title %}
{% block body %}
<!--Register--> 
<div class="jumbotron container py-5">
		{% if messages %}
        					{% for message in messages %}
								{% if message.tags == 'info' %}
									<div class="alert alert-warning alert-dismissible fade show" role="alert">
										{{message}}
										<a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
									</div>
								{% elif message.tags == 'success' %}
									<div class="alert alert-success alert-dismissible fade show" role="alert">
										<a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
							  			{{message}}
									</div>
								{% elif message.tags == 'error' %}
									<div class="alert alert-danger alert-dismissable fade show" role="alert">
									<a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
  										{{message}}
									</div>
								{% endif %}
							{% endfor %}
		  				{% endif %}
	<h1>Register</h1>
	<form method="POST">
		{% csrf_token %}
		{% load crispy_forms_tags %}
		{{ register_form|crispy }}                    
		<button class="primary" type="submit">Register</button>
	</form>
	<p class="text-center">If you already have an account, <a href="{% url 'login' %}">login</a> instead.</p>
</div>
{% endblock body %}