{% extends 'base.html' %}

{% block title %}Home{% endblock title %}

{% block body %}

<!-- Main -->
					<div id="main">
						<div class="inner">
							<h1>Team</h1>

							<div class="image main">
								<img src="static/images/banner-image-2-1920x500.jpg" class="img-fluid" alt="" />
							</div>

							<div class="container">
								<div class="row">
									<div class="col-sm-4 text-center">
										<img src="static/images/author.jpg" class="img-fluid" alt="" />

										<h2 class="m-n">Dipak Shahu</h2>

										<p>
											<br>

											<a href="#"><i class="fa fa-twitter"></i></a> &nbsp;
											<a href="#"><i class="fa fa-linkedin"></i></a>
										</p>
									</div>

									<div class="col-sm-4 text-center">
										<img src="static/images/author.jpg" class="img-fluid" alt="" />

										<h2 class="m-n">Sufyan Mansuri</h2>

										<p>
											<br>

											<a href="https://twitter.com/typing_mistake" target="_blank"><i class="fa fa-twitter"></i></a> &nbsp;
											<a href="https://instagram.com/typingmistake" target="_blank"><i class="fa fa-instagram"></i></a> &nbsp;
											<a href="https://wa.me/+917016138213" target="_blank"><i class="fa fa-whatsapp"></i></a> &nbsp;
											<a href="https://www.linkedin.com/in/sufyan-mansuri-48b813207/" target="_blank"><i class="fa fa-linkedin"></i></a>
										</p>
									</div>

									<div class="col-sm-4 text-center">
										<img src="static/images/author.jpg" class="img-fluid" alt="" />

										<h2 class="m-n">Harshil Patel</h2>

										<p>
											<br>

											<a href="#"><i class="fa fa-twitter"></i></a> &nbsp;
											<a href="#"><i class="fa fa-linkedin"></i></a>
										</p>
									</div>
								</div>
							</div>
						</div>
					</div>

{% endblock body %}