{% extends 'base.html' %}

{% block title %}Home{% endblock title %}

{% block body %}

<!-- Main -->
					<div id="main">
						<div class="inner">
							<h1>Testimonials</h1>
							{% if messages %}
        					{% for message in messages %}
								{% if message.tags == 'info' %}
									<div class="alert alert-warning alert-dismissible fade show" role="alert">
										{{message}}
										<a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
									</div>
								{% elif message.tags == 'success' %}
									<div class="alert alert-success alert-dismissible fade show" role="alert">
										<a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
							  			{{message}}
									</div>
								{% elif message.tags == 'error' %}
									<div class="alert alert-danger alert-dismissable fade show" role="alert">
  										{{message}}
									</div>
								{% endif %}
							{% endfor %}
		  				{% endif %}
							<div class="image main">
								<img src="static/images/banner-image-3-1920x500.jpg" class="img-fluid" alt="" />
							</div>
							
							<div class="row">
							{% for feed in feeds %}
								<div class="col-sm-6 text-center">
									
									<p class="m-n"><em><span class="fa fa-quote-right"></span> {{ feed.notes }}</em></p>

									<p><strong> - {{ feed.name }} </strong></p>
								</div>
							{% endfor %}
							</div>
							
							<br>

						</div>	
					</div>

{% endblock body %}