{% extends 'base.html' %}

{% block title %}Home{% endblock title %}

{% block body %}

<!-- Main -->
					<div id="main">
						<div class="inner">
							<h1>Testimonials</h1>

							<div class="image main">
								<img src="static/images/banner-image-3-1920x500.jpg" class="img-fluid" alt="" />
							</div>
							
							<div class="row">
							{% for feed in feeds %}
								<div class="col-sm-6 text-center">
									
									<p class="m-n"><em>{{ feed.notes }}</em></p>

									<p><strong> - {{ feed.name }} </strong></p>
								</div>
							{% endfor %}
							</div>
							
							<br>

						</div>	
					</div>

{% endblock body %}